*:focus {
  outline: none;
}
* {
  outline: none !important;
}

body,
html,
#app {
  font-size: 16px;
  height: 100%;
  margin: 0;
  background: #eee;
  color: #000;
  overflow: hidden;
}
#app {
  font-family: YuGothic, 'Yu Gothic', '游ゴシック体', '游ゴシック',
    'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo',
    'MSPゴシック', 'Osaka', 'MS PGothic', 'Arial', 'Helvetica', 'Verdana',
    'sans-serif';
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0;
  line-height: 1.8;
  display: flex;
  /* color: #2c3e50; */
}
#nav {
  padding: 0 0 30px;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease all;
}
a.disabled {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}
a {
  color: #179afc;
  transition: color 0.3s;
  &:hover {
    color: #409eff;
    // color: #37d3db;
  }
}

img {
  position: relative;
}
img[lazy='loaded']:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: #ebebeb
    url('https://via.placeholder.com/300/ebebeb/FFFFFF?text=Mukuu') no-repeat
    center;
  color: transparent;
}
[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  content: ' ';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 16px;
  height: 16px;
  background-image: url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==');
}
// img[lazy='loading'] {
//   background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient x1='8.042%25' y1='0%25' x2='65.682%25' y2='23.865%25' id='a'%3E%3Cstop stop-color='%23fff' stop-opacity='0' offset='0%25'/%3E%3Cstop stop-color='%23fff' stop-opacity='.631' offset='63.146%25'/%3E%3Cstop stop-color='%23fff' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1 1)'%3E%3Cpath d='M36 18c0-9.94-8.06-18-18-18' id='Oval-2' stroke='url(%23a)' stroke-width='2'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='0.9s' repeatCount='indefinite' /%3E%3C/path%3E%3Ccircle fill='%23fff' cx='36' cy='18' r='1'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='0.9s' repeatCount='indefinite' /%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
//   background-repeat: no-repeat;
//   background-position: center center;
//   filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
//   width: 100% !important;
//   height: 100%;
//   /*your style here*/
// }

.center {
  height: 100%;
  display: flex;
  flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
  justify-content: center; /* 子要素をflexboxにより中央に配置する */
  align-items: center; /* 子要素をflexboxにより中央に配置する */
}
.oneline-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.sb {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  border-radius: 4px;
  bottom: 0;
  a {
    width: 100%;
  }
  img {
    width: 100%;
    display: flex;
    align-items: flex-end;
  }
}
.media-list-container {
  height: 320px;
}

/* extend property */
::-webkit-scrollbar {
  background-color: #f4f4f4;
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 8px;
  border: 5px solid #f4f4f4;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}

::-webkit-scrollbar-button {
  display: none;
}

/* */
.medium-zoom-image--opened {
  width: auto !important;
  z-index: 10001;
}
.medium-zoom-overlay {
  z-index: 10000;
}
/** */
.right-side {
  display: flex;
  justify-content: flex-end;
  & .el-form-item:last-of-type {
    margin-right: 0;
  }
}
.between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & .el-form-item:last-of-type {
    margin-right: 0;
  }
}
.prefix-icon {
  width: 25px;
}
.infinite-list {
  position: relative;
  flex-grow: 1;
  list-style: none;
  overflow: auto;
  min-height: 0;
}
.infinite-list > .padding {
  padding-right: 0.5rem;
}

/* ------ element-ui ------ */
.el-loading-spinner {
  margin-top: -13px;
}
.el-loading-mask {
  border-radius: 2rem;
  margin: 1rem 0;
}
.el-row {
  display: flex;
  height: calc(100vh - 1rem);
}
.el-col {
  flex-direction: column;
}
.el-col:not(:first-of-type):not(:last-of-type) {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
[class*='el-col-'] {
  flex-grow: 1;
  display: flex;
}
.el-aside {
  background: white;
}
.el-menu--collapse {
  width: auto;
}
.el-menu-item {
  color: #909399;
}
.el-divider--horizontal {
  margin: 1.5rem 0;
  z-index: 100;
  &.sticky {
    top: 1.5rem;
    position: sticky;
  }
}
.el-divider {
  background: none;
}
.el-divider__text {
  // background: #eee;
  background: #66b1ff;
  color: white;
  border-radius: 1rem;
}
/* TODO: scope用のラッパクラスの配下に対象を限定する */
.el-select {
  width: 100%;
}
.el-input {
  width: 100%;
}
.el-form-item {
  margin-bottom: 1rem;
}
.history .el-tabs__item {
  padding: 0 16px;
}

/* ------ cel-heatmap ------ */
.cal-heatmap-container rect:hover {
  stroke-width: 1 !important;
}
.days-selected .cal-heatmap-container rect {
  opacity: 0.5;
}
.cal-heatmap-container .graph-rect {
  // fill: rgb(104, 107, 112);
  fill: white;
}
.cal-heatmap-container rect.highlight {
  stroke-width: 0;
  opacity: 1;
}
.cal-heatmap-container rect.highlight-now {
  stroke-width: 0;
  opacity: 1;
}

@media screen and (max-width: 559px) {
  .hidden-smartphone {
    display: none;
  }
  .el-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 959px) {
  .hidden-tablet {
    display: none;
  }
  .el-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 1080px) {
  #app {
    display: flex;
    flex-direction: column;
  }
  .el-row {
    height: calc(100vh - 5rem);
  }
  .el-menu--horizontal {
    justify-content: space-around;
    display: flex;
    & > .el-menu-item {
      height: 48px;
      line-height: 48px;
      font-size: 1rem;
      flex: 1;
      text-align: center;
      & > span {
        display: none;
      }
    }
  }
  .el-menu-item {
    padding: 0 1rem;
  }
  .media-list-container {
    height: 240px;
  }
}
